.item{
  margin: 10px;
  background-color: #deec8d;
  display: flex;
}

.img{
  width: 50px;
  background: url("./flower.jpg") center/100% auto no-repeat;
}

.text{
  color: rgb(3, 61, 61);
}

.date{
  color: rgb(148, 148, 148);
  font-size: 0.75em;
}
